body 
{
  font-family: "Poppins";
}

.container
{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
  
}
h1
{
  font-size: 1rem;
}
.container .card 
{
  background-color: rgb(238, 197, 222);
  border-radius: 30px;
  padding: 2rem;
}
.container .card .logo img  
{
  height: 70px;
  border-radius: 10px;
  z-index: -1;
}
.container .card h1 
{
  font-size: 30px;
}

.container .card .idts
{
  display: flex;
}

.container .card .idts .ids 
{
  padding-left: 1rem;
}

.container .card .idts .ids .ids-group
{
  display: flex;
  width: 100%;
}

.container .card .idts .ids .ids-group p
{
  margin-left: 10px;

}
.container .card .idts .ids .np 
{
  color: black;
}

.container .card .idts .ids .np p 
{
  font-weight: bolder;
  position: relative;
  right: -50px;
  
}

.container .card .idts .ids .np .profession
{
  font-weight: 0px;
}
.container .card .idts .profil img
{
  height: 120px;
  border: 3px solid white ;
  border-radius: 30px;
  z-index: 1;
  position: relative;
  top: -50px;
  right: -30px;
}
