body 
{
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
 
}

h1 {
  font-size: 1rem;
} 

h3
{
  text-align: center;
}


.container .card {
  background-color: rgb(255, 212, 239);
  border-radius: 30px;
  padding: 2rem;
  height: 320px;
  width: 400px;
  position: relative; /* Rendre la carte un conteneur positionné */
  z-index: 999;
}

.container .card .logo img {
  height: 70px;
  border-radius: 10px;
}

.container .card h1 {
  font-size: 30px;
}

.container .card .idts {
  display: flex;
  justify-content: space-between; /* Espace équilibré entre les éléments */
  position: absolute;
}

.container .card .idts .ids {
  padding-left: 1rem;
  flex-grow: 1; /* Assurez-vous que cet élément grandit */
}

.container .card .idts .ids .ids-group {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 130px;
}

.container .card .idts .ids .ids-group p {

  padding-right: 15px;
  color: black;
}

.container .card .idts .ids .np {
  
  color: black;
  height: 50px;
  width: 100px;
  padding-left: 2rem;
}

.container .card .idts .ids .np p {
  font-weight: bolder;
  position: relative;
}

.container .card .idts .ids .np .profession {
  font-weight: normal; /* Correction pour enlever "0px" */
}

.container .card .idts .profil img {
  height: 120px;
  width: 120px;
  background-size: cover;
  border: 3px solid white;
  border-radius: 30px;
  position: relative; /* Positionner relativement à la carte */
  top: -50px;
  right: -20px;
  z-index: 1;
}

.container .card .idts .scan {
  position: relative;
  bottom: -80px;
  left: -290px;
  height: 100px;
}

.container .card .idts .scan img {
  height: 100px;
}

.container .card .idts .sign {
  position: relative;
  bottom: -140px;
  right: 120px;
}

.container .card .idts .sign img {
  height: 60px;
}

.formulaire form
{
  display: none;
}

.formulaire .btns
{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.formulaire .btns Button 
{
  background-color: rgb(255, 212, 239);
}
#form
{
  background-color: rgba(0,0,0,0.1);
  z-index: -1;
  height: 350px;
  width: 100%;
  border-radius: 40px;
}

#form input
{
  display: flex;
  flex-direction: column;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px;
  font-family: 'Poppins';
  padding-left: 1rem;

}